body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00b4d8;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type="submit"] {
    width: 100px;
    align-self: center;
}
